.sidebar{
    margin-top: 30px;
    width: 18%;
}
.App{
    display:flex;
}
.content{
    width:60rem;
    margin-top: 17px;
}
.content>h4{
    color: blue;
}
.rightside{
    display: flex;
    margin-left:42rem;
    margin-top: -50px;
    text-align: justify;
}
.right_side_inside{
    display: flex;
    margin-left:50rem;
    margin-top: -50px;
    text-align: justify;
}
.right_side_inside>p{
    margin-top: 0%;
    color: royalblue;
}

.right_side_two_inside{
    display: flex;
    margin-left:50rem;
    margin-top: -50px;
    text-align: justify;
}
.right_side_two_inside>p{
    display: flex;
    margin-top: 0%;
    color: royalblue;
}
.right_side_inside>p>span{
    margin-bottom: 5px;
}